[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
flask-restplus = "*"
Flask = "*"
Flask-Cors = "*"
werkzeug = "==0.16.1"

[dev-packages]

[requires]
python_version = "3.8"
