<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Application Home Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
    <link rel="stylesheet" href="static/css/home.css">
    <script
      src="http://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous">
    </script>

</head>
<body>
    <div class='container'>
        <h1 class='banner'>Battleships App</h1>
        <div class='section editor'>
            <label for='game_id'>game
                <input id='game_id' type='text' />
            </label>
            <br />
            <label for='game_grid'>game_grid
                <input id='game_grid' type='text' />
            </label>
            <br />

        </div>
        <div class='game'>
            <table>
                <caption>Game</caption>
                <thead>
                    <tr>
                        <th>Game ID</th>
                        <th>Game Grid</th>
                        <th>Time</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class='error'>
        </div>
    </div>
</body>
<script src="static/js/home.js"></script>
</html>