body {
    font: 14px;
    margin: 10%;
}

.board-row:after {
    clear: both;
    content: '';
    display: table;
}

.square {
    background: rgb(45, 130, 170);
    float: left;
    font-size: 18px;
    height: 34px;
    text-align: center;
    width: 34px;
}

.square:hover {
    background: rgb(108, 192, 231);
}

.game {
    display: flex;
    flex-direction: row;
}

.start-game {
    
}